/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESC>;
            key-positions = <1 0>;
        };
    };

    behaviors {
        ctrlz: ctrlz {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRLZ";
            #binding-cells = <0>;
            bindings = <&mt LCTRL Z>, <&kp LC(Z)>;
        };

        spc_alt: spc_alt {
            compatible = "zmk,behavior-hold-tap";
            label = "SPC_ALT";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        ctrl_z: ctrl_z {
            compatible = "zmk,behavior-hold-tap";
            label = "CTRL_Z";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        q_tab: q_tab {
            compatible = "zmk,behavior-mod-morph";
            label = "Q_TAB";
            bindings = <&kp Q>, <&kp TAB>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_LGUI|MOD_LCTL)>;
            keep-mods = <(MOD_LCTL|MOD_LALT|MOD_LGUI)>;
        };

        A_Shift: A_Shift {
            compatible = "zmk,behavior-hold-tap";
            label = "A_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty {
            display-name = "QWERTY";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &q_tab                 &kp W  &kp E     &kp R  &kp T             &kp Y        &kp U  &kp I               &kp O                    &kp P            &none
&none  &A_Shift LEFT_SHIFT A  &kp S  &kp D     &kp F  &kp G             &kp H        &kp J  &kp K               &kp L                    &kp KP_ENTER     &none
&none  &ctrlz                 &kp X  &kp C     &kp V  &kp B             &kp N        &kp M  &kp LEFT_ARROW      &mt UP_ARROW DOWN_ARROW  &kp RIGHT_ARROW  &none
                                     &kp LGUI  &mo 1  &mt LALT SPACE    &lt 3 SPACE  &mo 2  &mt LEFT_SHIFT INS
            >;
        };

        number {
            display-name = "NUMBER";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &mt ESC NUMBER_1  &kp N2          &kp N3          &kp N4          &kp N5             &kp N6            &kp N7     &kp N8     &kp N9      &kp N0     &none
&none  &kp LEFT_SHIFT    &msc SCRL_DOWN  &msc SCRL_UP    &mmv MOVE_UP    &mkp LCLK          &mkp LCLK         &mkp RCLK  &kp FSLH   &kp MINUS   &kp EQUAL  &none
&none  &mo 3             &bootloader     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT    &trans            &trans     &kp COMMA  &kp PERIOD  &kp CAPS   &none
                                         &kp LGUI        &trans          &sys_reset         &kp LEFT_BRACKET  &mo 3      &kp RBKT
            >;
        };

        function {
            display-name = "FUNCTION";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp F1          &kp F2  &kp F3   &kp F4   &kp F5      &sys_reset   &bootloader    &kp C_PAUSE          &kp PRINTSCREEN  &kp BSPC    &none
&none  &kp LEFT_SHIFT  &kp F6  &kp F7   &kp F8   &mkp MB4    &kp C_MENU   &kp BACKSLASH  &kp SEMICOLON        &kp SQT          &kp DELETE  &none
&none  &kp LCTRL       &kp F9  &kp F10  &kp F11  &kp F12     &kp PAGE_UP  &kp PAGE_DOWN  &kp C_AL_CALCULATOR  &kp DOWN_ARROW   &mo 3       &none
                               &trans   &mo 3    &trans      &kp HOME     &trans         &kp END
            >;
        };

        option {
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans             &trans            &tog 4           &none
&none  &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans             &kp C_PREVIOUS    &kp C_NEXT       &none
&none  &trans        &trans        &trans        &out OUT_TOG  &bt BT_CLR      &trans  &trans  &kp C_VOLUME_DOWN  &kp C_PLAY_PAUSE  &kp C_VOLUME_UP  &none
                                   &trans        &trans        &trans          &trans  &trans  &trans
            >;

            label = "OPTION";
        };

        LOCK {
            bindings = <
&none   &kp TAB  &none  &none  &none   &none           &none  &none   &none  &none  &none  &none
&tog 4  &tog 4   &none  &none  &none   &none           &none  &none   &none  &none  &none  &none
&none   &none    &none  &none  &none   &none           &none  &none   &none  &none  &none  &none
                        &none  &trans  &kp LEFT_ALT    &none  &trans  &none
            >;

            label = "LOCK";
        };

        tab {
            bindings = <
&trans  &kp TAB  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans   &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans   &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
                         &trans  &trans  &kp LEFT_ALT    &trans  &trans  &trans
            >;

            label = "tab";
        };
    };
};
